html {
  /*
    Fluid Typography
    font-size: calc(
      [min size] + ([max size] - [min size]) * ((100vw - [min vw]) / ([max vw] - [min vw]))
    );
  */
  font-size: calc(10px + (18 - 10) * ((100vw - 375px) / (1440 - 375)));

  @media (--mobile-small) {
    font-size: calc(10 / 375 * 100vw);
  }

  @media (--md) {
    font-size: calc(10 / 1280 * 100vw);
  }

  @media (--xl) {
    font-size: calc(10px + (12 - 10) * ((100vw - 1280px) / (1680 - 1280)));
  }

  @media (--xxl) {
    font-size: 12px;
  }
}

button:focus {
  outline: 0;
}

.app {
  font-family: var(--font);

  & ::-moz-selection {
    color: #333;
    background: #fafafa;
  }

  & ::selection {
    color: #333;
    background: #fafafa;
  }

  @media (--retina) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &.is-webfontloaded {
    font-family: var(--font-loaded);
  }
}

.viewport {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: calc(var(--vh) * 100);
  pointer-events: none;
  visibility: hidden;
}

.page {
  position: relative;
}
