<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title><%= title %></title>
<%- include('_head') -%>
</head>

<body>

<div class="viewport" data-module="Viewport"></div>

<div id="js-app" class="app is-loading">

  <div class="canvas">
    <canvas id="js-canvas"></canvas>
  </div>


