<%
  rootPath = '../'

  include(rootPath + '_inc/_vars')

  var SCOPE = 'home'

-%>

<%- include(rootPath + '_inc/_top') -%>

<a class="back" href="../">
  BACK
</a>

<%- include(rootPath + '_inc/_bottom') -%>
