/**
// Rules:
// ---------------
//   1. If it's a hack, it goes in _shame.css.
//   2. Document all hacks fully:
//   3. What part of the codebase does it relate to?
//   4. Why was this needed?
//   5. How does this fix it?
//   6. How might you fix it properly, given more time?
//   7. Do not blame the developer; if they explained why they had to do it then their reasons are probably (hopefully) valid.
//   8. Try and clean _shame.css up when you have some down time.
 */

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 700;
  src:
    local('ProductSans-Bold'),
    url('/fonts/ProductSans-Bold.woff2') format('woff2');
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  visibility: hidden;

  &.is-visible {
    visibility: visible;
  }

  & > canvas {
    width: 100%;
    height: 100%;
  }
}

.cover {
  position: absolute;
  top: 0;
  opacity: 0;

  @nest .is-hover & {
    opacity: 1;
  }
}

.home-sketchList {
  font-size: 4.4rem;
  text-align: right;

  & > li {
    overflow: hidden;
    line-height: 1;
    margin: .2em 0;
  }

  & h2 {
    text-transform: uppercase;
    letter-spacing: .06em;
    font-weight: 700;
    color: #000;
    margin-right: -.12em;
    white-space: nowrap;
  }

  & .cover {
    width: 100%;
  }

  & div {
    background-color: #000;
    top: .04em;
    height: 0.86em;
  }

  & p {
    top: .15em;
    font-size: .86em;
    letter-spacing: -.04em;
    color: #fff;
    font-weight: 600;
    line-height: 1;
    text-align: left;
  }
}
